* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

header {
    padding: 50px;
    background-color: rgba(6, 6, 214, 0.596);
    color: rgb(227, 253, 253);
    font-size: 24px;
    display: flex;
    align-items: flex-start;

    & #arrow_back {
        width: 1.5rem;
        height: auto;
        margin-right: 20px;
    }
}

body {
    font-family: Arial, sans-serif;
    background-color: rgb(243, 242, 242);
}

section {
    margin: 70px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & h1 {
        margin-bottom: 30px;
    }

    & #name, #email {
        padding: 2px;
    }
    
    & #campo_consulta {
        margin-top: 10px;
        padding: 5px;
        width: 400px;
        height: 35px;
    }

    & #p_query_pg {
        font-size: 16px;
    }
}

.button_row {
    display: flex;
    align-items: center;

    & button {
        cursor: pointer;
        margin: 0px 10px; /* cima/baixo e dps lados */
    }

    & a {
        text-decoration: none;
        cursor: pointer;
        border-radius: 15px;
        padding: 10px;
        margin: 0px 10px; /* cima/baixo e dps lados */
        color: white;
        background-color:rgba(6, 6, 214, 0.596);
    }
}

.row_div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}

/* pgde gráficos */
#graphics_interface {
    form {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
    }

    .container {
        max-width: 10000px;
        margin: auto;
    }

    textarea {
        margin-top: 5px;
        width: 1200px;
        height: 100px;
        padding: 10px;
        box-sizing: border-box;
    }

    table, th, td {
        border: 1px solid #ccc;
        border-collapse: collapse;
        padding: 8px;
    }

    table {
        width: 100%;
        margin-top: 15px;
    }

    .grafico-container {
        margin-top: 30px;
        text-align: center;
    }

    .error {
        color: red;
        font-weight: bold;
        margin-bottom: 15px;
    }

    img {
        max-width: 100%;
        height: auto;
        border: 1px solid #eee;
    }
}
