* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

header {
    padding: 50px;
    background-color: rgba(6, 6, 214, 0.596);
    color: rgb(227, 253, 253);
    font-size: 24px;
}

body {
    background-color: rgb(243, 242, 242);
}

section {
    margin: 70px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & h1 {
        margin-bottom: 30px;
    }

    & #name, #email {
        padding: 2px;
    }
    
    & #campo_consulta {
        margin-top: 10px;
        padding: 5px;
        width: 400px;
        height: 35px;
    }
}

#button_row {
    display: flex;
    align-items: center;

    & button {
        margin: 0px 10px; /* cima/baixo e dps lados */
    }
}