<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enem+</title>
    <link rel="stylesheet" href="../static/style.css">
    <meta name="description" content="Enem+ cursos preparatórios">
    <title>Geração de Gráficos</title>
</head>
    <body id="graphics_interface">
        <header>
            <div id="arrow_back"><a href="/graphs"><img src="../static/icons/arrow_back.png" alt="arrow_back"></a></div>
            <div id="logo"><p>Enem+ cursos preparatórios</p></div>
        </header>
        <section>
            <div class="container">
                <h1>Gráfico de quantidade de alunos que tiraram acima/abaixo de determinada nota por cidade</h1>

                <br>
                <p>Favor selecionar a matéria, a nota de corte e opcionalmente a cidade para serem filtrados os resultados.</p>
                <br>
                <form method="GET" action="{{ url_for('grafico_quantitativo_nota') }}">
                    <div class="row_div">
                        <div>
                            <label for="cidade_filtro">Cidade:</label>
                            <select name="cidade_filtro" id="cidade_filtro">
                                <option value="" {% if not cidade_selecionada %}selected{% endif %}>--</option> 
                                {% for cidade in lista_cidades %}
                                    <option value="{{ cidade }}" {% if cidade_selecionada == cidade %}selected{% endif %}>{{ cidade }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div>
                            <label for="materia_filtro">Matéria:</label>
                            <select name="materia_filtro" id="materia_filtro">
                                {% for key, value in mapa_materias.items() %}
                                    <option value="{{ key }}" {% if key == materia_selecionada %}selected{% endif %}>
                                        {{ key }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                        <div>
                            <label for="nota_comparacao">Nota Limite:</label>
                            <input type="number" name="nota_comparacao" id="nota_comparacao" 
                                value="{{ nota_comparacao_atual if nota_comparacao_atual else 800 }}" 
                                min="0" max="1000" step="10" required>
                        </div>
                        <button type="submit">Aplicar</button>
                        <div class="button_row">
                            <a href="/average" class="button-style">Por médias gerais</a>
                            <a href="/subject" class="button-style">Por matéria</a>
                        </div>
                    </div>
                </form>
                <hr>

                {% if error %}
                    <p class="error">Erro: {{ error }}</p>
                {% endif %}

                {% if records %}
                    <br><br>
                    {% if grafico_barras %}
                        <h2>Gráfico de Barras</h2>
                        <div class="grafico-container">
                            <img src="{{ grafico_barras }}" alt="Gráfico de Barras">
                        </div>
                    {% endif %}

                    {% if grafico_linhas %}
                    <br><br>
                        <h2>Gráfico de Linhas</h2>
                        <div class="grafico-container">
                            <img src="{{ grafico_linhas }}" alt="Gráfico de Linhas">
                        </div>
                    {% endif %}

                    <br><br>
                    <h3>Dados da Tabela</h3>
                    <table>
                        <thead>
                            <tr>
                                {% for col in columns %}
                                    <th>{{ col }}</th>
                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for row in records %}
                                <tr>
                                    {% for item in row %}
                                        <td>{{ item }}</td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                {% endif %}
            </div>
        </section>
    </body>
</html>