<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enem+</title>
    <link rel="stylesheet" href="../static/style.css">
    <meta name="description" content="Enem+ cursos preparatórios">
    <title>Geração de Gráficos</title>
</head>
    <body id="graphics_interface">
        <header>
            <div id="arrow_back"><a href="/"><img src="../static/icons/arrow_back.png" alt="arrow_back"></a></div>
            <div id="logo"><p>Enem+ cursos preparatórios</p></div>
        </header>
        <section>
            <div class="container">
                <h1>Interface de Geração de Gráficos</h1>

                <form method="POST" action="/graphs">
                    <label for="sql_query">Insira a Consulta SQL:</label>
                    <textarea name="sql_query" id="sql_query" placeholder="Insira uma consulta SQL para gerar o gráfico. Certifique-se de que a consulta retorna pelo menos duas colunas de dados." required></textarea><br>

                    <div>
                        <label for="tipo_grafico">Tipo de Gráfico:</label>
                        <select name="tipo_grafico" id="tipo_grafico">
                            <option value="bar">Barras</option>
                            <option value="line">Linhas</option>
                        </select>
                        <button type="submit">Gerar Gráfico</button>
                    </div>
                </form>
                <hr>

                {% if error %}
                    <p class="error">Erro: {{ error }}</p>
                {% endif %}

                {% if grafico %}
                    <br><br>
                    <h2>Resultado do Gráfico</h2>
                    <div class="grafico-container">
                        <img src="{{ grafico }}" alt="Gráfico de Dados da Consulta">
                    </div>

                    <br><br>
                    <h3>Dados da Tabela</h3>
                    <table>
                        <thead>
                            <tr>
                                {% for col in columns %}
                                    <th>{{ col }}</th>
                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for row in records %}
                                <tr>
                                    {% for item in row %}
                                        <td>{{ item }}</td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                {% endif %}
            </div>
        </section>
    </body>
</html>