<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enem+</title>
    <link rel="stylesheet" href="../static/style.css">
    <meta name="description" content="Enem+ cursos preparatórios">
</head>
    <body>
        <header>
            <div id="logo"><p>Enem+ cursos preparatórios</p></div>
        </header>
        <section>
            <h1>Integrando o Python ao PostgreSQL</h1>

            <div id="button_row">
                <button type="submit" action="/query">Consultar dados</button><br>
                <button type="submit" action="/graphs">Gerar gráficos</button><br>
                <button type="submit" action="/relatorio">Gerar relatório</button>
            </div>
            <br>
            <table border="1">
                <thead>
                    <tr>
                        {% for col in columns %}
                        <th>{{ col }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for row in records %}
                    <tr>
                        {% for cell in row %}
                        <td>{{ cell }}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% if sql_query %}
            <p>Nenhuma resultado encontrado para a query.</p>
            {% endif %}
        </section>
    </body>
</html>