<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enem+</title>
    <link rel="stylesheet" href="../static/style.css">
    <meta name="description" content="Enem+ cursos preparatórios">
</head>
    <body>
        <header>
            <div id="arrow_back"><a href="index.html"><img src="../static/icons/arrow_back.png" alt="arrow_back"></a></div>
            <div id="logo"><p>Enem+ cursos preparatórios</p></div>
        </header>
        <section>
            <h1>Realize aqui suas consultas</h1>
            <p id="p_query_pg">Note que estão habilitados comandos que alteram o banco</p>
            <br>

            <form action="/query" method="POST">
                <input type="text" id="campo_consulta" name="sql_query" placeholder="Escreva a consulta aqui">
                <br><br>
                <button type="submit">Executar</button> <!-- no index, uma consulta padrão do banco retornando todos os dado + titulo + opções "Consultar dados", "Gerar gráficos -> internamente, gerar relatório (dps de gerado um gráfico)" e "Gerar relatório" -->
            </form>
            <br>
            <table border="1">
                <thead>
                    <tr>
                        {% for col in columns %}
                        <th>{{ col }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for row in records %}
                    <tr>
                        {% for cell in row %}
                        <td>{{ cell }}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% if sql_query %}
            <p>Nenhuma resultado encontrado para a query.</p>
            {% endif %}
        </section>
    </body>
</html>